<h1><%= @reg_app.name %></h1>

<div class="pull-right">
  <%= link_to "Edit App Details", edit_user_reg_app_path, class: 'btn btn-primary' %>

  <%= link_to "De-Register App", user_reg_app_path, method: :delete, class: 'btn btn-danger',
     data: { confirm: "Are you sure you want to remove this app?" } %>
</div>

 <div class="row">
   <div class="col-md-8">
     <h4><%= @reg_app.url %></h4>
     <br/>

     <h4>There were <%= @reg_app.events.count %> <%= link_to "Total", user_reg_app_events_path(current_user, @reg_app) %> events including:</h4><br/>

     <% @events.each do |key, value| %>
      <h5><%= value.count %> events in the <%= link_to key, user_reg_app_events_path(current_user, @reg_app) %> category</h5>
     <% end %>
   </div>
 </div>
